.lists {
    background-image: url(../images/contact-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh; /* La hauteur est basée sur 50% de la hauteur de la fenêtre du navigateur */
    width: 100%;
}

.lists:before {
    content: "";
    background: rgba(255, 255, 255, 0.5); /* Augmenter l'opacité */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
